[user]
    name = Garrett Stevenson
    email = stevenson.garrett@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor = vim
    autocrlf = input
[apply]
    whitespace = nowarn
[format]
    pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[alias]
    plog = log --graph --oneline
    st = status
    cp = cherry-pick
    cpc = cherry-pick --continue
    rbc = rebase --continue
    ane = commit --amend --no-edit
    chk = checkout
    diffs  = diff --staged
    co = checkout

[push]
    default = simple
[rebase]
    autosquash = true
